/******************************************************************
Stylesheet: IE Stylesheet
******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
******************************************************************/
/******************************************************************
Stylesheet: Variables
******************************************************************/
/*********************
COLORS
*********************/
/******************************************************************
Stylesheet: Typography
******************************************************************/
/*********************
FONT FACE 
*********************/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
}

/******************************************************************
Stylesheet: Mixins Stylesheet
******************************************************************/
/*********************
TRANSITION
*********************/
/*********************
CSS3 GRADIENTS
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/******************************************************************
Stylesheet: IE Grid Styles
******************************************************************/
.last-col {
  float: right;
  padding-right: 0 !important;
}

.d-all {
  float: left;
  padding-right: 0.75em;
  width: 100%;
  padding-right: 0;
}

.d-1of2 {
  float: left;
  padding-right: 0.75em;
  width: 50%;
}

.d-1of3 {
  float: left;
  padding-right: 0.75em;
  width: 33.33%;
}

.d-2of3 {
  float: left;
  padding-right: 0.75em;
  width: 66.66%;
}

.d-1of4 {
  float: left;
  padding-right: 0.75em;
  width: 25%;
}

.d-3of4 {
  float: left;
  padding-right: 0.75em;
  width: 75%;
}

.d-1of5 {
  float: left;
  padding-right: 0.75em;
  width: 20%;
}

.d-2of5 {
  float: left;
  padding-right: 0.75em;
  width: 40%;
}

.d-3of5 {
  float: left;
  padding-right: 0.75em;
  width: 60%;
}

.d-4of5 {
  float: left;
  padding-right: 0.75em;
  width: 80%;
}

.d-1of6 {
  float: left;
  padding-right: 0.75em;
  width: 16.6666666667%;
}

.d-1of7 {
  float: left;
  padding-right: 0.75em;
  width: 14.2857142857%;
}

.d-2of7 {
  float: left;
  padding-right: 0.75em;
  width: 28.5714286%;
}

.d-3of7 {
  float: left;
  padding-right: 0.75em;
  width: 42.8571429%;
}

.d-4of7 {
  float: left;
  padding-right: 0.75em;
  width: 57.1428572%;
}

.d-5of7 {
  float: left;
  padding-right: 0.75em;
  width: 71.4285715%;
}

.d-6of7 {
  float: left;
  padding-right: 0.75em;
  width: 85.7142857%;
}

.d-1of8 {
  float: left;
  padding-right: 0.75em;
  width: 12.5%;
}

.d-1of9 {
  float: left;
  padding-right: 0.75em;
  width: 11.1111111111%;
}

.d-1of10 {
  float: left;
  padding-right: 0.75em;
  width: 10%;
}

.d-1of11 {
  float: left;
  padding-right: 0.75em;
  width: 9.09090909091%;
}

.d-1of12 {
  float: left;
  padding-right: 0.75em;
  width: 8.33%;
}

/******************************************************************
Stylesheet: 481px and Up Stylesheet
******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */
}
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */
}
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 760px;
}

/*********************
HEADER STYLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
.nav {
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
.nav ul {
  background: #323944;
  margin-top: 0;
  overflow: visible;
}
.nav li {
  float: left;
  position: relative;
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
.nav li a {
  border-bottom: 0;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
.nav li a:hover, .nav li a:focus {
  color: white;
  text-decoration: underline;
}
.nav li ul.sub-menu,
.nav li ul.children {
  width: auto;
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  visibility: hidden;
  z-index: 8999;
  /* highlight sub-menu current page */
}
.nav li ul.sub-menu li,
.nav li ul.children li {
  width: 100%;
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 100%;
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
  line-height: 2em;
}
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
.nav li ul.sub-menu li ul,
.nav li ul.children li ul {
  top: 0;
  left: 100%;
}
.nav li:hover > ul {
  top: 2em;
  visibility: visible;
}

/* end .nav */
/*! responsive-nav.js 1.0.32 by @viljamis */
.js .nav-collapse {
  position: relative;
  overflow: visible;
}

.js .nav-collapse.closed {
  max-height: none;
}

.nav-toggle {
  display: none;
}

.nav-collapse {
  float: right;
  width: auto;
  margin: 50px 0 40px;
}

.nav-collapse li {
  width: auto;
  /*  *width: 24.9%; */
  /* IE7 Hack */
                                 /*
_width: 19%; */
  /* IE6 Hack */
}
.nav-collapse li:last-child a {
  border-right: 0;
}

.nav-collapse li a {
  margin: 0;
  padding: 0px 1em;
  float: left;
  text-align: center;
  border-bottom: 0;
  border-right: 1px solid white;
}

.nav-collapse ul ul a {
  display: none;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  margin-top: 2.2em;
}

.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}

.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/******************************************************************
Stylesheet: Desktop Stylsheet
******************************************************************/
.wrap {
  width: 1040px;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
******************************************************************/
